.anEarlyCTA {
    background: linear-gradient(0deg, rgba(15, 37, 42, 1) 50%, rgba(255, 255, 255, 1) 50%);
    padding: 60px 0;
}

.anEarlyCTA .wrapper {
    background-color: #FFCF5C;
    padding: 65px 40px;
}

.anEarlyCTA h5 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.5px;
    color: var(--heading-text);
}